@model WebKakeibo.Models.MonthlyBudget

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MonthlyBudget</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BudgetAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BudgetAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MonthlyBudgetId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
